/* Stylesheet by Jon Fok, 2017 */

h1 {
  font-size: 20px;
  padding-top: 10px;
  text-transform: uppercase;
  text-align: center;
  font-family:"Times New Roman", Helvetica, sans-serif;
  background-color: none;
  color: black;
}

h2 {
  font-size: 15px;
  height: 10px;
  text-transform: uppercase;
  text-align: center;
  font-family:"Times New Roman", Helvetica, sans-serif;
  background-color: none;
  color: black;
}

.states {
    fill: #FFF;
    stroke: #CCC;
    stroke-width: 2px;
}

.CensusTract {
    fill: #fa9fb5;
    stroke: #000;
    stroke-width: 0.5px;
    stroke-linecap: round;
}

.gratBackground {
    fill: #D5E3FF;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.map {
    border: medium solid #252525;
    margin: 10px 0 0 20px;
}

.chart {
  border: medium solid #252525;
  float: right;
  margin: 10px 20px 0 0 ;
}
